<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoDb.ConnectionString" value="mongodb://127.0.0.1:27017" />
    <add key="MongoDb.DatabaseName" value="forum" />
    <add key="MongoDb.CollectionName.Answers" value="answers" />
    <add key="MongoDb.CollectionName.Questions" value="questions" />
    <add key="MongoDb.CollectionName.SearchTerms" value="searchterms" />
  </appSettings>
</configuration>